/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

main {
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h3 {
    padding: 0px;
}

/****** header *****/


nav {
    display: flex;
    justify-content: space-between;
}

nav > a {
    padding: 30px 50px 30px 0;
}

nav ul {
    display: flex;
    padding: 0px 50px 0px 50px;
    gap: 68px;
    list-style: none;
}

nav ul li a {
    padding-top: 13px;
    border-top: solid 2px transparent;
}

nav ul li a:hover {
    border-color: #0065FC;
    color: #0065FC;
}
/** utilitaire **/

.d-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}
.d-grow {
    display: flex;
    flex-grow: 1;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.d-wrap {
    display: flex;
    flex-wrap: wrap;
}

.d-justify-center {
    display: flex;
    justify-content: center;
}

.d-align-center {
    display: flex;
    align-items: center;
}
    
/****** info container *****/

.info-container {
    display: flex;
    justify-content: flex-start;
}

.info-container .d-column {
    gap: 30px;
}

.info-container h1 {
    margin-bottom: 0px;
}


/****** barre de recherche section *****/

.search-bar {
    justify-content: flex-start;
}

.search-bar i {
    width: 50px;
    height: 49px;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #F2F2F2;   
}

.search-bar input {
    height: 49px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #F2F2F2;
}

.search-bar button {
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    border: 1px solid #0065FC;
    background: #0065FC;
} 

.search-bar button span {
    color: white;
    font-weight: 700;
}

/****** section button filtre *****/
.buttons-filters {
    gap: 15px;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Espace entre les éléments */
    gap: 15px;
}

.filters button {
    padding: 15px;
    font-weight: 700;
    border-radius: 25px;  
    border: 2px solid #D9D9D9;   
    background-color: white;
    gap: 10px;
}

.filters button i {
    font-size: 22px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters-info {
    gap: 10px;
}

.d-none {
    display: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    gap: 30px;
}

.hebergements-grid {
    gap: 30px;
}

.hebergements-grid .d-row a {
    flex: 1;
    border: solid 5px;
    border-color: white;
    border-radius: 20px;
}

.hebergements-grid .d-row {
    gap: 30px;
}

.appart-card {
    background-color: white;
    padding: 0 0 15px 0;
}

.appart-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.appart-card .card-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    gap: 8px;
}

.card-title {
    margin: 8px 0 0 0;
}

.card-subtitle {
    margin: 8px 0 0 0;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites-marseille {
    gap: 30px;
}

.section-cards {
    display: flex;
    gap: 30px;
}

.section-cards a {
    flex: 1;
}

.activites-card {
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.activites-card img {
    width: 100%; /* Pour que l'image occupe toute la largeur du conteneur */
    height: 380px; /* Pour que l'image occupe toute la hauteur du conteneur */
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-content h3 {
    font-family: 'raleway', sans-serif;
    font-size: 16px;
    padding-left: 20px;

}

/** footer **/

footer section div {
    flex: 1;
}

.section-footer {
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 20px;
}

.column-menu nav {
    display: flex;
    justify-content: flex-start;
 
}
footer div nav ul {
    gap: 15px;
    padding-left: 0px;
}

footer section div nav h3 {
    margin: 0px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-marseille article img {
        height: 200px;
    }

    .activites-marseille article div {
        display: flex;
        align-items: center;
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        margin: 0px;
        padding: 0 20px 0 20px;
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    menu {
        flex-direction: row;
    }

    .search-bar span {
        display: ;
    }

    .buttons-filters {
        flex-wrap: wrap;
    }

}

